table thead tr th {
  font-size: 0.85em;
  text-align: left;
}

table tbody tr td {
  height: 0.75em;
}

.table tbody tr td {
  font-size: 10px;
  vertical-align: middle;
}

.table {
  font-family: 'Museosans', sans-serif;
}  