@charset "UTF-8";

#tabela, #btn-visualiza, #btn-invalida, #btn-edita, #btn-deleta {
  font-family: 'Museosans 300', sans-serif;
}

table thead tr th {
  font-size: 0.85em;
  text-align: left;
}

table tbody tr td {
  font-size: 0.75em;  
  height: 3.5em;
}


.table tbody tr td {
  vertical-align: middle;
}
