@font-face {
  font-family: Museosans;
  src: url('../fonts/museosans.otf');
}

@@font-face {
  font-family: 'Museosans 2';
  src: url('../fonts/museosans_100_italic.otf');
}

body {
  font-family: 'Museosans 2', sans-serif;
}

div {
  margin: 0 0 20px 0;
}

#trofeu {
  margin: 20px 0 20px 0;
}

.bloco-pessoal {
  position: relative;
  top: -130px;
}

#bandeira {
  background-color: black;
  padding: 0px 0px 25px 0px;
}

.tma {
  position: relative;
  font-size: 35px;
  top: -35px;
}

.resultados {
  font-family: Museosans;
  font-size: 350%;
}

.mes-total {
  position: relative;
  font-size: 15px;
  top: -40px;
}

.card-body {
  margin: 0 0 0 0;
}
