/* CORPO */
input:focus{
  border: none;
}

body {
  font-family: 'Museosans 2', sans-serif;
  color: #DCE6EF;
  background-color: #151A20;
}

div {
  margin: 0 0 20px 0;
}

h2 {
  font-weight: bold;
  font-style: italic;
  color: #EAEFF5;
}

h4 {
  color: #6B747B;
}

p {
  color: #009f45;
}

hr {
  color: #363D45;
  background-color: #363d45;
  height: 2px;
  width: 60%;
}

/* BOOTSTRAP */
.card {
  border: none;
}

.card-header {
  background-color: #2B343B;
}

.card-body {
  background-color: #1d2228;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.btn-success {
  background-color: #009f45;
}

.input-group-addon {
  background-color: #151A20;
  padding: 0 0 0 0;
}

.fa-calendar {
    color: #009f45;
}

.form-control {
  padding: 0 0 0 0;
}

.container-fluid {
  margin: 0 0 0 0;
}

.justify-content-sm-center {
  background-color: #1d2228;
  margin: 0 0 0 0;
}

.col-sm-auto {
  margin: 0 0 0 0;
}

/* OUTRAS */


#nome-time {
  color: #354044;
}

#hall-da-fama {
  font-weight: bold;
  font-style: italic;
  color: #6B757F;
}

#trofeu {
  margin: 20px 0 20px 0;
}

.bloco-pessoal {
  position: relative;
  top: -130px;
}

.tma {
  position: relative;
  font-size: 25px;
  font-weight: bold;
  top: -35px;
}

.resultados {
  font-family: Museosans;
  font-weight: bold;
  font-size: 350%;
}

.info-gerais {
  margin: 0 0 0 0;
}

@media screen and (max-width: 1280px) {
  .resultados-gerais {
    padding: 30px 0 15px 0;
  }
}

@media screen and (min-width: 1388px) {
  .resultados-gerais {
    font-family: Museosans;
    font-weight: bold;
    font-size: 310%;
    margin: 0 0 0 0;
    padding: 25px 0 15px 0;
  }
}

@media screen and (min-width: 1666px) {
  .resultados-gerais {
    font-family: Museosans;
    font-weight: bold;
    font-size: 350%;
    margin: 0 0 0 0;
    padding: 25px 0 15px 0;
  }
}

.cor-cinza {
  color: #374049;
}

.mes-total {
  position: relative;
  font-size: 15px;
  top: -40px;
}

.links, a:hover {
  color: #009f45;
  text-decoration: none;
}

input[type="text"] {
  background-color: #151A20;
  color: #657074;

}

.calendario {
  padding: 0 0 0 5px;
  margin: 3px 0 0 0;
}

#avancao {
  font-weight: bold;
  font-style: normal;
  margin: 25% 0 25% 0;
}

/*dat no gerak*/
.datepicker
{
  color: white;
  background-color: #151A20;
  border-color: #009f45;
}

/*quando passa o cursor por cima de dias*/
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {

  background: #009f45;
}

/*meses e anos selecionados, quando passa por cima*/
.datepicker table tr td span:hover,
.datepicker table tr td span.focused{

  background: #009f45;
}

/*parte de cima e de baixo da data mes e hoje*/
.datepicker .datepicker-switch,
.datepicker tfoot tr th{

  background-color: #009f45;
}

/*avanca e volta mes*/
.datepicker .prev,
.datepicker .next
{
  background-color: #151A20;
}

/*partes de cima e de baixo da data mes e hoje quando passa o mouse por cima*/
.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
    background-color: #009f45;
}

/*input quando selecionado*/
.input-daterange input:focus {
  background-color: #151A20;
  color: #657074;
}

/*css do dia que foi selecionado*/
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
  background-color: #009f45;
  background-image: -moz-linear-gradient(to bottom, #009f45, #009f45);
  background-image: -ms-linear-gradient(to bottom, #009f45, #009f45);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#009f45), to(#009f45));
  background-image: -webkit-linear-gradient(to bottom, #009f45, #009f45);
  background-image: -o-linear-gradient(to bottom, #009f45, #009f45);
  background-image: linear-gradient(to bottom, #009f45, #009f45);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='009f45', endColorstr='009f45', GradientType=0);
  border-color: #009f45 #009f45 #009f45;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
  background-color: #009f45;
}
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active {
  background-color: #009f45 \9;
}


/*css do dia atual*/
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
  background-color: #f66565;
  background-image: -moz-linear-gradient(to bottom, #f66565, #f66565);
  background-image: -ms-linear-gradient(to bottom, #f66565, #f66565);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f66565), to(#f66565));
  background-image: -webkit-linear-gradient(to bottom, #f66565, #f66565);
  background-image: -o-linear-gradient(to bottom, #f66565, #f66565);
  background-image: linear-gradient(to bottom, #f66565, #f66565);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f66565', endColorstr='#f66565', GradientType=0);
  border-color: #f66565 #f66565 #f66565;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
}
.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today:hover.disabled,
.datepicker table tr td.today.disabled.disabled,
.datepicker table tr td.today.disabled:hover.disabled,
.datepicker table tr td.today[disabled],
.datepicker table tr td.today:hover[disabled],
.datepicker table tr td.today.disabled[disabled],
.datepicker table tr td.today.disabled:hover[disabled] {
  background-color: #f66565;
}
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active {
  background-color: #f66565 \9;
}
.datepicker table tr td.today:hover:hover {
  color: #fff;
}
.datepicker table tr td.today.active:hover {
  color: #fff;
}


/*css mes e ano atual*/
.datepicker table tr td span:hover,
.datepicker table tr td span.focused {
  background: #009f45;
}
.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
  background: none;
  color: #999;
  cursor: default;
}
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
  background-color: #009f45;
  background-image: -moz-linear-gradient(to bottom, #009f45, #009f45);
  background-image: -ms-linear-gradient(to bottom, #009f45, #009f45);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#009f45), to(#009f45));
  background-image: -webkit-linear-gradient(to bottom, #009f45, #009f45);
  background-image: -o-linear-gradient(to bottom, #009f45, #009f45);
  background-image: linear-gradient(to bottom, #009f45, #009f45);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009f45', endColorstr='#009f45', GradientType=0);
  border-color: #009f45 #009f45 #009f45;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled] {
  background-color: #009f45;
}
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active {
  background-color: #009f45 \9;
}
.datepicker table tr td span.old,
.datepicker table tr td span.new {
  color: #fff;
}
