@charset "UTF-8";

a {
  margin-left: 10px;
}

table, a {
  font-family: 'Museosans 300',sans-serif;
}

.table tbody tr td {
  font-size: 0.85em;  
  height: 3em;
}

.table tbody tr td {
  vertical-align: middle;
}